<!-- header -->
<div class="header row d-flex align-items-center justify-content-center px-5 pb-5 pt-3 mb-5 position-relative"
    style="width: 100%; height: 800px; z-index:888;">

    <!--  text -->
    <div class="col-lg-7 col-md-12 d-flex flex-column" style="z-index: 2;">
        <!-- animated text -->
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
        <svg id="filters" style="position: absolute; top: 0; left: 0;">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                            0 1 0 0 0
                                            0 0 1 0 0
                                            0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>


        <div class="text-muted" id="text-box">
            <h1 class="subtitle">Entry Level Full-stack Developer</h4>
                <div class="text-end"><a class="btn btn-primary p-2" href="./aboutMe">More About Me</a></div>
        </div>
        <!-- //static text -->
    </div>
    <!-- // text -->
</div>
<!-- //header -->


<!-- About Me -->
<div class="" style="margin: 250px 0;">

    <div class="row d-flex justify-content-center" style="z-index:888;">
        <div class="col-lg-3 col-md-12" style="z-index:888;">
            <h1 class="pb-5" style="color:#312222" style="z-index:888;">ABOUT ME</h1>
        </div>
        <div class="col-lg-5 col-md-12" style="z-index:888;"></div>
    </div>


    <div class="row d-flex justify-content-center" style="z-index:888;">
        <div class="col-lg-3 col-md-12" style="z-index:888;">
            <img src="./images/meme-resized..png" alt="profile-img"
                style="z-index:888; max-width:200px; object-fit:contain; border-radius: 50%;">
        </div>
        <div class="col-lg-5 col-md-12" style="z-index:888;">
            <h3>Hi! I'm Dain</h3>
            <p>Self-motivated software engineer graduating with a degree in Computer
                Programming.</p>
            <p>Practical experience gained through a Co-op internship,
                complemented by skills in data analysis, visualization, and project management
                acquired during 6+ years of sales experience, including managerial roles. </p>
        </div>
    </div>

</div>


<!-- Skills -->
<div class="skills-container position-relative my-5 py-3" style="z-index:888; margin: 250px 0;">

    <!-- Hard skills -->
    <div class="d-flex flex-column align-items-center">
        <div class="skills col-12 row" style="width: 80%">
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">CSS/Bootstrap</div>
                <div class="skill-bar">
                    <div class="skill-per" per="80"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">JavaScript</div>
                <div class="skill-bar">
                    <div class="skill-per" per="70"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">.NET/C#</div>
                <div class="skill-bar">
                    <div class="skill-per" per="75"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">Java</div>
                <div class="skill-bar">
                    <div class="skill-per" per="70"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">Python</div>
                <div class="skill-bar">
                    <div class="skill-per" per="60"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">Kotlin</div>
                <div class="skill-bar">
                    <div class="skill-per" per="60"></div>
                </div>
            </div>
            <div class="skill col-lg-4 col-md-6">
                <div class="skill-name">SQL</div>
                <div class="skill-bar">
                    <div class="skill-per" per="65"></div>
                </div>
            </div>

        </div>
    </div>
    <!--//Hard skills -->

    <!-- Soft skills -->
    <div class="d-flex flex-column align-items-center" style="margin-top: 200px;">


        <div class="skills-area row">
            <div class="single-skill col-sm-4 col-xs-12 d-flex justify-content-center">
                <div class="circlechart" data-percentage="92"><svg class="circle-chart"
                        viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                        <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                        <circle class="circle-chart__circle success-stroke" stroke-dasharray="92,100" cx="16.9"
                            cy="16.9" r="15.9"></circle>
                        <g class="circle-chart__info"> <text class="circle-chart__percent" x="17.9"
                                y="15.5">92%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                Team Work
                            </text> </g>
                    </svg></div>
            </div>
            <div class="single-skill col-sm-4 col-xs-12 d-flex justify-content-center">
                <div class="circlechart" data-percentage="90"><svg class="circle-chart"
                        viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                        <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                        <circle class="circle-chart__circle success-stroke" stroke-dasharray="90,100" cx="16.9"
                            cy="16.9" r="15.9"></circle>
                        <g class="circle-chart__info"> <text class="circle-chart__percent" x="17.9"
                                y="15.5">90%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                Problem Solving
                            </text> </g>
                    </svg></div>
            </div>
            <div class="single-skill col-sm-4 col-xs-12 d-flex justify-content-center">
                <div class="circlechart" data-percentage="95"><svg class="circle-chart"
                        viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
                        <circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
                        <circle class="circle-chart__circle success-stroke" stroke-dasharray="95,100" cx="16.9"
                            cy="16.9" r="15.9"></circle>
                        <g class="circle-chart__info"> <text class="circle-chart__percent" x="17.9"
                                y="15.5">95%</text><text class="circle-chart__subline" x="16.91549431" y="22">
                                Communication
                            </text> </g>
                    </svg></div>
            </div>

        </div>

    </div>
    <!--//Soft skill-->

</div>


<!-- timeline -->
<div class="timeline-container position-relative d-flex justify-content-center mt-5" style="z-index:888;">
    <div class="container-fluid" style="width: 80%">
        <div class="col-12 my-3 py-3">
            <h1 class="text-center" style="color:#312222">Timeline</h1>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-1 order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Co-op & Part time</p>
                <small class="d-block">Georgian College</small>
                <small class="d-block">R&I Department</small>
                <small class="d-block">Barrie, ON, Canada</small>
            </div>
            <div class="col-md-4 col-sm-12 timeline order-md-2 order-sm-2 ">
                <p class="time text-center">2024 ~ Present</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic order-md-3 order-sm-1 ">
                <img src="./images/undraw_team_collaboration_re_ow29.svg" style="width:200px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 graphic order-md-1 order-sm-1 text-md-end text-sm-center">
                <img src="./images/undraw_web_development_0l6v.svg" style="width:200px;" alt="">
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2023 ~ 2024.08</h2>
            </div>
            <div class="col-md-4 col-sm-12 work-position order-md-3 order-sm-3 text-md-start text-sm-center">
                <p class="my-0">Computer Programming</p>
                <small class="d-block">Georgian College</small>
                <small class="d-block">Diploma</small>
                <small class="d-block">Barrie, ON, Canada</small>
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-1 order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Sales Manager</p>
                <small class="d-block">SNA</small>
                <small class="d-block">IT Servcie & Hardwared</small>
                <small class="d-block">Seoul, Korea</small>
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2020 ~ 2022</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic text-md-start text-sm-center order-md-3 order-sm-1">
                <img src="./images/undraw_file_manager_re_ms29.svg" style="width:200px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-3 order-sm-3 text-md-start text-sm-center">
                <p class="my-0">Sales Manager</p>
                <small class="d-block">Hai'aosi</small>
                <small class="d-block">Catering Service</small>
                <small class="d-block">Shanghai, China</small>
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2017 ~ 2019</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic text-md-end text-sm-center order-md-1 order-sm-1">
                <img src="./images/undraw_file_manager_re_ms29.svg" style="width:200px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 graphic text-md-start text-sm-center order-md-3 order-sm-1">
                <img src="./images/undraw_education_f8ru.svg" style="width:200px;" alt="">
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2012 ~ 2014</p>
            </div>
            <div class="col-md-4 col-sm-12 order-md-1 work-position order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Chinese Studies</p>
                <small class="d-block">Sejong University</small>
                <small class="d-block">B.A.</small>
                <small class="d-block">Seoul, Korea</small>
            </div>
        </div>
    </div>
</div>
<!--//timeline-->



<!-- projects -->
<div class="position-relative" style=" margin: 250px 0; z-index:888;">
    <h1 class="text-center my-3 py-3" style="color:#312222;">PROJECTS</h1>

    <div class="row py-5 mt-5 px-3">
        <div class="col-lg-5 col-md-5 py-5 px-5 position-relative"
            style="background: #ddd;; border-radius: 0 150px 0 0; height: 320px;">
            <div class="py-4 px-5 position-absolute w-100 d-flex justify-content-center align-items-center"
                style="background: #fff7f3;; border-radius: 0 150px 0 0; height: 290px; top:30px; right: 30px;">
                <img class="" src="/images/projects/QP_logo.png" style="width:200px;" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-5 ps-5 pt-5 position-relative">
            <h4>Quality Print</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, delectus.</p>
            <div class="position-absolute bottom-0" style="right:0;"><a class="btn btn-primary border-radius-0"
                    href="#">View More</a></div>
        </div>
         <div class="col-lg-1 col-md-0 col-sm-0 py-5 px-5 position-relative"></div>
    </div>

    <div class="row py-5 mt-5 px-3 d-flex justify-content-between">
        <div class="col-lg-1 col-md-0 py-5 col-sm-0 px-5 position-relative"></div>
        <div class="col-lg-4 col-md-5 order-sm-2 ps-5 pt-5 pe-5 position-relative">
            <h4>White Tuque</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, delectus.</p>
            <div class="position-absolute bottom-0" style="right:50px;"><a class="btn btn-primary border-radius-0"
                    href="#">View More</a></div>
        </div>
        <div class="col-lg-5 col-md-5 order-sm-1 py-5 px-5 position-relative"
            style="background: #ddd; border-radius: 130px 0 0 0; height: 320px;">
            <div class="py-5 px-5 position-absolute w-100 d-flex justify-content-center align-items-center"
                style="background: #fff7f3;; border-radius: 130px 0 0 0; height: 290px; top:30px;">
                <img class="" src="/images/projects/QP_logo.png" style="width:200px;" alt="">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 200px; padding: 0 150px;">
        <div class="col-lg-4 col-md-6">
            <a href="#">
                <div class="card mb-3" style="z-index:888;">
                    <div class="card-body d-flex justify-content-center" style="height: 220px;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <img src="./images/projects/WT_logo.png"
                                    style="object-fit:contain; width: 200px; height: 150px;" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="#">
                <div class="card mb-3" style="z-index:888;">
                    <div class="card-body d-flex justify-content-center" style="height: 220px;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <i class="bi bi-chat-dots-fill me-1" style="font-size:80px;"></i>
                                <i class="bi bi-chat-dots" style="font-size:80px; transform:scaleX(-1);"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-easel" style="font-size:80px;"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-calculator" style="font-size:80px;"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-airplane-engines-fill" style="font-size:80px;"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-calendar" style="font-size:80px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-search" style="font-size:80px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div>
                            <i class="bi bi-bar-chart-fill" style="font-size:80px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>






</div>



<!--//projects -->