<div class="px-5" style="padding-top: 150px;">

    <div class="py-3 mb-4 px-5" style="border-bottom: dashed 1px #332e2e;">
        <h1 class="" style="color:#332e2e;">Quality Print</h1>
    </div>

    <div class="px-5">
        <div class="row mb-5">
            <div class="col-7">
                <div style="max-width:800px;">
                    <img src="/images/projects/qualityPrint1.png" alt="" style="width:100%;">
                </div>
            </div>
            <div class="col-5">
                <h4 class="">E-commerce Application</h4>
                <div class="">
                    <p class="">An integrated web application for a printing company. Admin users
                        can manage customers and orders, while customers can place orders with custom design
                    </p>
                </div>
                <div class="">
                    <p class="m-0 fw-bold">Details</p>
                    <p class="m-0 ps-1">Jan 2024 ~ Present </p>
                    <p class="m-0 ps-1"> Number of developers: 4</p>
                    <p class="m-0 ps-1">Front-end 100%</p>
                    <p class="m-0 ps-1">.NET, Bootstrap, Javascript</p>
                </div>
                <div class="mt-3">
                    <p class="m-0 fw-bold">Key Duty</p>
                    <p class="m-0 ps-1">Creating canvas page, creating forms, CRUDs pages and landing pages
                    </p>
                </div>
            </div>
        </div>

        <!-- carousel here 6 images -->
        <div class="row pb-5">
            <div class="col-6">
                <img src="/images/projects/qualityPrint2.png" alt="" style="width:100%;">
            </div>
            <div class="col-6">
                 <img src="/images/projects/qualityPrint2.png" alt="" style="width:100%;">
            </div>
        </div>

    </div>
</div>